* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #299dc5;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%230b2b36' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}
/* etiquetas y elementos */
ul {
  list-style: none;
}
a {
  color: #ffffff;
  text-decoration: none;
}
/* Cabecer Principal */
.cabecera_principal {
  width: 100%;
  height: 60px;
  background-color: rgb(11, 43, 54);
  margin: auto;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.logo_seviesoft {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navegacion_principal {
  width: 70%;
}
.opciones_sesion {
  display: flex;
  width: 20%;
  align-items: center;
}
.opciones_sesion ul {
  display: flex;
}
.opciones_sesion ul li {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
/*Contenido de la pagina*/
/*Portada*/
.cuerpo {
  width: 100%;
  margin: auto;
}
.portada {
  width: 100%;
  height: 700px;
}
.portada_imagen_fondo {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 700px;
}
.portada_logo_seviesoftware img {
  position: absolute;
  top: 30%;
  left: 38%;
  width: 400px;
  height: 400px;
}
/* Contador*/
.contador {
  background-color: rgb(11, 43, 54);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.encabezado1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 30px;
}
.encabezado2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 10px;
}
.encabezado3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: crimson;
  font-weight: 500;
  margin-top: 10px;
}
/* Galeria */
.galeria {
  width: 90%;
  /*background-color: darkblue;*/
  height: 800px;
  margin: auto;
  display: flex;
  align-content: space-between;
  flex-direction: row;
}
.galeria_izquierda {
  background-color: darkgreen;
  height: 750px;
  margin: auto;
  display: flex;
  flex-grow: 1;
}
.galeria_izquierda img {
  width: 655px;
  height: 720px;
  position: absolute;
  margin: 15px;
}
.galeria_izquierda_imagen {
  position: relative;
  display: inline-block;
  width: 100%;
  background-image: url(media/productos_titulo_2.jpg);
}
.galeria_derecha {
  background-color: darkkhaki;
  height: 750px;
  margin: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.galeria_derecha_superior {
  background-color: blueviolet;
  display: flex;
  height: auto;
  flex-grow: 1;
}
.galeria_derecha_superior img {
  position: absolute;
  height: 340px;
  width: 655px;
  margin: 15px;
}
.galeria_derecha_inferior {
  background-color: chartreuse;
  display: flex;
  height: auto;
  flex-grow: 1;
  flex-direction: row;
}
.g_d_i_izquierda {
  background-color: darkorange;
  display: flex;
  height: auto;
  flex-grow: 1;
}
.g_d_i_izquierda img {
  position: absolute;
  height: 340px;
  width: 310px;
  margin: 15px;
}
.g_d_i_derecha {
  background-color: darkslategrey;
  display: flex;
  height: auto;
  flex-grow: 1;
}
.g_d_i_derecha img {
  position: absolute;
  height: 340px;
  width: 310px;
  margin: 15px;
}
/* Opiniones */
.opiniones {
  background-color: rgb(11, 43, 54);
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.opiniones_encabezado {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #ffffff;
}
.opiniones_contenedor {
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.opinion_superior {
  display: flex;
  height: auto;
  flex-grow: 1;
  flex-direction: row;
  margin: auto;
}
.opiniones_superior_izquierda {
  background-color: darkgreen;
  display: flex;
  width: 25%;
  height: 300px;
  border-radius: 100px;
}
.opiniones_superior_izquierda img {
  position: absolute;
  height: 150px;
  width: 150px;
  align-self: center;
  border-radius: 10px;
  margin-left: 50px;
}
.opiniones_superior_derecha {
  background-color: #7ba2a9;
  display: flex;
  width: 50%;
  height: auto;
  flex-direction: column;
}
.o_s_d_up {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: crimson;
  font-weight: 900;
  margin: 30px;
}
.o_s_d_mid {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: crimson;
  font-weight: 700;
  margin: 30px;
}
.o_s_d_bot {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: crimson;
  font-weight: 700;
  margin: 30px;
}
.opinion_inferior {
  background-color: chocolate;
  display: flex;
  height: auto;
  flex-grow: 1;
  flex-direction: row;
}
.opiniones_inferior_izquierda {
  background-color: darkseagreen;
  display: flex;
  flex-grow: 2;
  height: auto;
}
.opiniones_inferior_derecha {
  background-color: darkgreen;
  display: flex;
  flex-grow: 1;
  height: auto;
}
/* Regitro Inferior*/
.registro_inferior {
  background-color: rgb(255, 233, 166);
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registro_inferior img {
  height: 340px;
  width: 100%;
}
.registro_inferior_encabezado {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  margin: 30px;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  color: #ffffff;
}
.registro_inferior_boton {
  background-color: rgb(68, 210, 168);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  margin-top: 200px;
}
.footer {
  background-color: rgb(47, 157, 197);
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.footer_izquierda {
  width: 30%;
}
.footer_centro {
  width: 50%;
}
.footer_derecha {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
